@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #000000;
}

nav {
  display: inline-block;
  min-width: 100%;
  text-align: center;
}

.welcome {
  font-weight: bolder;
  font-size: 50px;
  color: #a2b0a4;
  padding-top: 15px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

li > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

li > a:hover {
  color: white;
}

.container-1 {
  min-height: 25vh;
}
.container-2 {
  min-height: 75vh;
}

.header-col {
  padding: 0;
}

.header {
  min-width: 100%;
  height: auto;
  position: relative;
}

.header-text {
  font-family: "Merriweather", serif;
  font-size: 20px;
  position: absolute;
  top: 350px;
}

.header-description {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gal {
  position: absolute;
  right: 0;
  font-weight: bolder;
  font-size: 70px;
  color: white;
}
.lery {
  position: absolute;
  left: 0;
  font-weight: bolder;
  font-size: 70px;
  color: white;
}

.gal-2,
.lery-1,
.lery-3,
.gal-4 {
  color: rgba(255, 255, 255, 0.5);
}

.slider-container {
  min-height: 50vh;
}

@media (max-width: 500px) {
  .gal-1,
  .lery-1 {
    display: none;
  }

  .gal,
  .lery {
    color: rgba(255, 255, 255, 0.5);
  }

  .container-3 {
    margin-top: 200px;
  }
}

@media (max-width: 810px) {
  .gal-2,
  .lery-2 {
    display: none;
  }

  .gal-1 {
    color: rgba(255, 255, 255, 0.5);
  }
}

@media (min-width: 768px) {
  .container-3 {
    margin-top: 200px;
  }
  .lery {
    margin-top: 15px;
  }
  .header-text {
    font-size: 50px;
    top: 520px;
    left: 50px;
  }
}

@media (min-width: 1024px) {
  .header-text {
    font-size: 60px;
    top: 600px;
    left: 80px;
  }
}

@media (max-width: 1500px) {
  .gal-4,
  .lery-4 {
    display: none;
  }
}

@media (max-width: 1150px) {
  .gal-3,
  .lery-3 {
    display: none;
  }
}

@media (min-width: 1440px) {
  .header-text {
    font-size: 80px;
    top: 750px;
    left: 150px;
  }
}

@media (min-width: 1536px) {
  .header-text {
    font-size: 80px;
    top: 700px;
    left: 150px;
  }
  .wrapper {
    padding-top: 20% !important;
  }
}

@media (min-width: 1920px) {
  .header-text {
    font-size: 80px;
    top: 700px;
    left: 350px;
  }
  .wrapper {
    padding-top: 20% !important;
  }
}

/* responsive slider */

.wrapper {
  width: 100%;
  padding-top: 30%;
}
.carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.carousel .card {
  margin: 20px 0;
  background: white;
  padding: 5px;
}

.owl-dots {
  text-align: center;
  margin-top: 40px;
}
.owl-dot {
  height: 8px;
  width: 35px;
  margin: 0 5px;
  outline: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background: white !important;
}
.owl-dot.active,
.owl-dot:hover {
  background: #a2b0a4 !important;
}

/* end of responsive slider */

.title {
  font-weight: 500;
}

footer {
  text-align: center;
}

.par-1 {
  margin-bottom: 0;
}

.linkedin {
  width: 45px;
  height: 45px;
}

/* image on-hover effect */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
